.image-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 150px;
  width: auto;
  max-width: 200px;
  border-radius: 2px;
}
.rotate {
  transform: rotate(75deg);
}

.translateX {
  position: relative;
  left: 40px;
}

.opacity {
  opacity: 0.5;
}

.bounce {
  position: relative;
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 70% {bottom: 5px;}
  10%, 40%, 80% {bottom: 15px;}
  20% {bottom: 20px;}
  30%, 90% {bottom: 35px;}
  50% {bottom: -10px;}
  60%, 100% {bottom: 0px;}
}
